
services:
  redis:
    image: redis:alpine
    ports:
      - "6380:6379" 
    volumes:
      - redis_data:/data

  antifraud-service:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379  
      - LOG_LEVEL=INFO
    volumes:
      - ./app:/app/app

volumes:
  redis_data:
